<h2>H2O+CO+CO</h2>

<button ng-show="contatos.length > 0" title="Modo de edição da lista" ng-click="editModeActive()" class="btn btn-default">
    <i ng-show="editMode" class="fa fa-unlock-alt"></i>
    <i ng-show="!editMode" class="fa fa-lock"></i>
</button>

<ul ng-show="contatos.length > 0" class="sortable-list connectList agile-list" id="rowater">
    <li ng-class="contato.count > 0 ? 'danger-element' : (contato.count < 0 ? 'success-element' : '')" ng-repeat="contato in contatos | orderBy: 'position'" id="{{contato.name}}">

        <div ng-hide="editorEnabled">
            {{contato.name}} {{contato.count}} <i class="fa fa-flag"></i>

            <!--   Edit Mode    -->
            <button ng-show="editMode" title="Deletar Participante" ng-click="deleteContato(contato)" class="pull-left btn btn-xs btn-default"><i class="fa fa-trash"></i></button>

            <button ng-show="editMode" title="Editar Participante" ng-click="enableEditor(contato)" class="pull-right btn btn-xs btn-default"><i class="fa fa-pencil"></i></button>

            <!--   Game Mode    -->
            <button ng-disabled="contato.count < 0" ng-show="!editMode && contato.position == 0" title="Passar a vez" ng-click="passTurn(contato)" class="pull-right btn btn-xs btn-default"><i class="fa fa-repeat"></i></button>

            <button ng-show="!editMode" ng-disabled="contato.position != 0 || editMode" title="Enviar para final da fila" ng-click="endRow(contato)" class="pull-left btn btn-xs btn-default"><i class="fa fa-level-down"></i></button>

            <button ng-show="!editMode && contato.position != 0" ng-disabled="editMode" title="Incrementar rodada" ng-click="incrementCount(contato)" class="pull-right btn btn-xs btn-default"><i class="fa fa-plus"></i></button>

            <button ng-show="!editMode && contato.position != 0" ng-disabled="editMode" title="Decrementar rodada" ng-click="decrementCount(contato)" class="pull-right btn btn-xs btn-default"><i class="fa fa-minus"></i></button>

        </div>

        <div ng-hide="!editorEnabled">

            <x ng-show="editUserId != contato._id">{{contato.name}}</x>
            <input ng-show="editUserId == contato._id" ng-model="contato.name">

            <button ng-disabled="editUserId != contato._id" ng-show="editMode" title="Cancelar" ng-click="disableEditor(contato)" class="pull-right btn btn-xs btn-default"><i class="fa fa-times"></i></button>

            <button ng-disabled="editUserId != contato._id" ng-show="editMode" title="Atualizar Participante" ng-click="atualizarContato(contato)" class="pull-left btn btn-xs btn-default"><i class="fa fa-refresh"></i></button>

        </div>

    </li>
</ul>

<div ng-show="contatos.length <= 0" class="well">
    <h3>
        Nada encontrado.
    </h3>
    A lista de participantes está vazia. Adicione um participante ou mais.
</div>

<form name="contatoForm">
    <input autocomplete="off" class="form-control" ng-model="contato.name" name="name" placeholder="Nome" ng-maxlength="20" ng-minlength="4" ng-required="true">
</form>

<!-- Mensagens de alerta -->
<div class="alert alert-danger" ng-show="contatoForm.name.$error.required && contatoForm.name.$dirty">Preencha o campo Nome!</div>
<div class="alert alert-danger" ng-show="contatoForm.name.$error.maxlength">Campo Nome deve ter no maximo 20 caracteres!</div>
<div class="alert alert-danger" ng-show="contatoForm.name.$error.minlength">Campo Nome deve ter no minimo 4 caracteres!</div>

<button id="btn-add" class="btn btn-primary btn-block" ng-click="adicionaContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar</button>
